.browse{
    padding-top: 115px;
}

.main-container {
    padding: 10px;
  }


  .browse .main-container label{
    color:white;
    font-weight: 500;
  }

  .browse #country{
    margin-left:10px;
  }