.btn {
  border-radius: 25px;
  padding: 5px 20px 5px 20px;
  background-color: #e50914;
  color: white;
  font-weight: 700;
  border: none;
}
.btn:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
