.productcard label{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    font-weight: 800;
    width: calc(100% - 20px);
    background-color: var(--dark);
    opacity: 0.8;
    color:var(--secondary);
    transition: .3s;
}


.productcard:hover label{
    opacity: 1;
    background-color: var(--secondary);
}