.topmenu{
    position:fixed;
    top:0;
    width: 100vw;
    display: flex;
    align-items: center;
    color:white;
    background:var(--primary);
    justify-content: space-between;
    flex-direction: row;
    z-index: 1000;
    opacity: 0.7;
    transition: .8s;
}

.topmenu:hover{
    opacity: 1;
}

.topmenu .btn{
    margin-right: 25px;
}

#userlnk{
    color:var(--light);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    margin-right: 25px;
}

.genres{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 800;
}

.genre{
    padding:10px;
    color:var(--light);
    text-decoration: none;
}

.logo-area:hover,#userlnk:hover, .category:hover{
    transition: .3s;
    transform: scale(1.1);
    cursor:pointer;
}

.menus {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
  }